<script type="text/javascript">
    RED.nodes.registerType('tw-opendata-reservoirs', {
        category: 'function',
        color: '#7597ce',
        defaults: {
            name: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function() {
            return this.name || "TW open data: reservoirs";
        }
    });
</script>

<script type="text/x-red" data-template-name="tw-opendata-reservoirs">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="tw-opendata-reservoirs">
    <p>TODO</p>
</script>
